*{
    margin: 0px auto;
    padding: 0px auto;
    box-sizing: border-box;
}

.jumbotron{
    background-color: darksalmon;
    color: floralwhite;
}

.header-text{
    text-align: justify;
}

.content{
    padding: 1rem 1.5rem 1rem 1.5rem;
}

/* h3{
    margin-bottom: 1.5rem;
} */

.row-content{
    padding: 1rem 0rem 1.5rem 0rem;
    border-bottom: 1px ridge;
}

.row-cont{
    padding: 1.5rem 0rem 1.5rem 0rem;
}


.justi{
    text-align: justify;
}

.footer{
    background-color: #E4E1DD;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}

address{
    font-size: 90%;
}

.row-footer{
    padding-top: 1.5rem;
}